BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 
0px; PADDING-TOP: 0px
}
#all {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 
auto; WIDTH: 1002px; PADDING-TOP: 0px
}
#all #top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; WIDTH: 1002px; PADDING-TOP: 0px
}
#top #top_l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; WIDTH: 690px; PADDING-TOP: 0px
}
#top #top_r {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: 
url(../images/jy_02.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 
312px; PADDING-TOP: 0px; HEIGHT: 87px
}
#top #top_r UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 95px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; PADDING-TOP: 7px
}
#top #top_r LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 48px; COLOR: 
#333333; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#top #top_dh {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; WIDTH: 1002px; PADDING-TOP: 0px
}
#top #top_dh UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; WIDTH: 1002px; PADDING-TOP: 0px
}
#top #top_dh LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 31px
}
#top #top_dh #date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; FLOAT: left; BACKGROUND-IMAGE: url(../images/jy_11.jpg);
PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 210px; COLOR: #ffffff; 
LINE-HEIGHT: 31px; PADDING-TOP: 0px; HEIGHT: 31px; TEXT-ALIGN: center
}
#top #top_fl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 
0px; PADDING-TOP: 0px
}


#all #mid {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mid #left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; WIDTH: 213px; PADDING-TOP: 0px
}
#left #l_not {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 
0px; PADDING-TOP: 0px
}
#left #l_not DL {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: 
url(../images/jy_14.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
19px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; TEXT-ALIGN: right
}
#left #l_not UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: 
url(../images/jy_30.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
5px; BACKGROUND-REPEAT: repeat-y
}
#left #l_not LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 
20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#left #l_not H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 
0px; PADDING-TOP: 0px
}

#left #l_cater {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 
0px; PADDING-TOP: 0px
}
#left #l_cater DL {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: 
url(../images/jy_27.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
18px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; TEXT-ALIGN: right
}
#left #l_cater UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 30px; BACKGROUND-IMAGE: 
url(../images/jy_30.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
5px; BACKGROUND-REPEAT: repeat-y
}
#left #l_cater LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; BACKGROUND-IMAGE: url(../images/cater_bg.jpg); PADDING-BOTTOM: 0px; 
MARGIN: 5px 0px 0px; WIDTH: 120px; COLOR: #666666; LINE-HEIGHT: 23px; 
PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
#left #l_cater LI DL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: 
none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; ; HEIGHT: 
expression(this.scrollHeight<=3D22?'22px':this.scrollHeight+'px')
}
#left #l_cater LI DL DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: 
#666666; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
#left #l_cater H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 
0px; PADDING-TOP: 0px
}

#left #l_ly {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 
0px; PADDING-TOP: 0px
}
#left #l_ly DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 
0px; PADDING-TOP: 5px
}
#left #l_lx {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 
0px; PADDING-TOP: 0px
}
#left #l_lx DL {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: 
url(../images/jy_38.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; TEXT-ALIGN: right
}
#left #l_lx UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: 
url(../images/lx_bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 149px
}
#left #l_lx LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 
22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}


#mid #right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 
20px; MARGIN: 0px; PADDING-TOP: 0px
}
#right #r_top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; WIDTH: 765px; PADDING-TOP: 0px
}
#right #r_intro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; WIDTH: 393px; PADDING-TOP: 0px
}
#right #r_intro H2 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: 
url(../images/jy_16.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
19px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; TEXT-ALIGN: right
}
#right #r_intro UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 
5px; MARGIN: 0px; PADDING-TOP: 5px
}
#right #r_intro DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; PADDING-TOP: 10px
}
#right #r_intro LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 
22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}

#right #r_bl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; PADDING-TOP: 0px
}
#right #r_new {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; WIDTH: 367px; PADDING-TOP: 3px
}
#right #r_new DL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: 
url(../images/jy_19.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
19px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px; TEXT-ALIGN: right
}
#right #r_new UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 
5px; MARGIN: 0px; PADDING-TOP: 5px
}
#right #r_new LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 
25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
#right #r_new LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999999; 
PADDING-TOP: 0px
}

#right #r_pro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: 
url(../images/jy_30.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 
0px
}
#right #r_pro DL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 135px; FLOAT: left; 
BACKGROUND-IMAGE: url(../images/jy_28.jpg); PADDING-BOTTOM: 0px; MARGIN: 
0px; WIDTH: 620px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; 
HEIGHT: 40px
}
#right #r_pro DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; 
LINE-HEIGHT: 25px; PADDING-TOP: 2px
}
#r_pro #pr_tu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; FLOAT: left; PADDING-BOTTOM: 
5px; MARGIN: 0px; WIDTH: 138px; PADDING-TOP: 15px
}
#r_pro #pr_tu DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: 
url(../images/pr.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 130px; 
PADDING-TOP: 5px; HEIGHT: 91px; TEXT-ALIGN: center
}
#r_pro #pr_tu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 
0px; WIDTH: 130px; PADDING-TOP: 5px
}
#r_pro #pr_tu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 
20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#right #r_pro H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; PADDING-TOP: 0px
}


#all #bottom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 
0px; MARGIN: 0px; PADDING-TOP: 0px
}
#bottom #dh {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; WIDTH: 1002px; COLOR: #ffffff; 
LINE-HEIGHT: 20px; HEIGHT: 20px; BACKGROUND-COLOR: #28b2e5; TEXT-ALIGN: 
center
}
#bottom #bq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 
9pt; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 1002px; COLOR: #333333; 
LINE-HEIGHT: 20px; PADDING-TOP: 10px; TEXT-ALIGN: center
}

.STYLE1 {	color: #000066;	font-weight: bold;}

.input {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; 
FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #cccccc 1px solid; 
COLOR: #333333; BORDER-BOTTOM: #cccccc 1px solid
}
B {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 
0px; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: 
none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: 
none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #5f5f5f; TEXT-DECORATION: 
none
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #5f5f5f; TEXT-DECORATION: 
none
}
A.white:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: white; TEXT-DECORATION: 
none
}
A.white:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: white; TEXT-DECORATION: 
none
}
A.white:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: white; TEXT-DECORATION: 
none
}
A.white:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: white; TEXT-DECORATION: 
none
}
